*.pyc
*.pyo
.*.*.swp
bin
include/
!Sources/doc/source/include
lib
/build
/docs
doc/build/
doc/doxy_build/
._quaternion*.dat
.idea
/*.iml
deploy_rsa
deploy_doc_to_gh-pages.sh
deploy_rsa.enc
*.bak
*.code-workspace
*.root
